<!--  <div
  id="menu"
  class="container-fluid justify-content-center align-items-center align-middle"
>
  <div class="d-flex justify-content-center align-items-center align-middle">
    <div
      class="card justify-content-center align-items-center align-middle align-self-center"
      style="width: 18rem"
    >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button type="button" class="btn btn-success" routerLink="/portfolio">
          Success
        </button>
      </div>
    </div>
  </div>
</div>  -->

<div id="menu" class="container-fluid">
  <div
    class="d-flex justify-content-center align-items-center align-middle vertical-center"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center mb-5">Introduction</h5>
        <!--  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">- This website is a 3D interactive experience</p>
        <p class="card-text">
          - The loading depends of your internet connexion
        </p>
        <p class="card-text">- You can interact with holding left click</p>
        <p class="card-text">
          - You can scroll and also , click on the buttons
        </p>
        <p class="card-text mb-5">- Best experience on desktop</p>

        <p class="card-text mt-5">Have fun !</p>
        <h6 class="card-subtitle mb-2 text-muted">Boris</h6>
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn btn-success" routerLink="/portfolio">
          Got it !
        </button>
      </div>
    </div>
  </div>
</div>
