<!-- <div id="main" class="container-fluid">
  <iframe
    src="https://my.spline.design/savelorenzonetto-22525664f4df4b275290dfdf911c1739/"
    frameborder="0"
    width="100%"
    height="100%"
  ></iframe> -->

<!--   <div class="d-none d-lg-block d-xl-none">
    <iframe
      src="https://my.spline.design/borislorenzonetto-bc7919171e2863ea3bfffa20615c3c0b/"
      frameborder="0"
      width="100%"
      height="100%"
    ></iframe>
  </div>
  <div class="d-none">
    <iframe
      src="https://my.spline.design/borislorenzonettomobile-0c6e24336799e90ebda6f3b6b8058008/"
      frameborder="0"
      width="100%"
      height="100%"
    ></iframe>
  </div> -->
<!-- </div> -->
<router-outlet></router-outlet>
